.filter-content {
  position: sticky;
  line-height: 3;
  top: 20px;
  margin-bottom: 8px;
}
.filter {
  width: 40%;
  border: 1px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(112, 110, 110, 0.2);
  margin: 8px;
}
.filter-heading {
  font-size: 24px;
  display: flex;

  justify-content: center;
}
.filter-text {
  padding: 2px;
  align-self: center;
  font-size: 18px;
  font-weight: 600;
}
.category-content,
.price-content {
  margin: 8px;
}
.filter-buttons {
  display: flex;
  margin-bottom: 12px;
  justify-content: space-evenly;
}
.filter-icon {
  color: orange;
  text-align: center;
  margin-right: 4px;
}
.filter-icon-close {
  display: none;
  color: orange;
  margin-right: 8px;
  text-align: end;
  flex: 1;
}
#filter-option {
  font-weight: 500;
  font-size: 16px;
  color: #333;
  margin-bottom: 4px;
  display: block;
}
.filter-button-small-screen {
  margin: 10px;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .filter {
    z-index: 50;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    transition: all 0.8s ease-in;
    transform: translateY(200%);
    background-color: white;
  }
  .filter-mobile-open {
    z-index: 50;
    position: fixed;
    background-color: white;
    width: 100%;
    transition: all 0.4s ease-in;
    transform: translateY(0%);
    flex-grow: 1;
    margin-top: 0;
  }
  .filter-buttons {
    margin-top: auto;
  }
  .filter-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .filter-icon-close {
    display: block;
  }
  .filter-icon {
    flex: 1;
    text-align: end;
  }
}
