.footer {
  background: lightgray;
  line-height: 20px;
  border-top: 1px solid gray;
  padding-left: 3%;
}
.content {
  width: 40%;
  text-align: justify;
  color: gray;
  color: rgba(0, 0, 0, 0.54);
}

.content h5,
h4 {
  padding-bottom: 0;
  margin-bottom: 8px;
  margin-top: 8px;
}
@media screen and (max-width: 800px) {
  .content {
    width: 80%;
  }
}
